html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#centering {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}